* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/fotos-gratis/cinza-concreto-arranha-ceus-altos-na-costa-em-tempo-de-nevoeiro_144627-31372.jpg?w=1380&t=st=1718678057~exp=1718678657~hmac=585f9aeb744595bf40e542e179269f32bed29436a950e449787c86aa93dcd8a4");
    background-position: center;
    background-size: cover;
}

.caixa-maior {
    background: #000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffff;
    width: calc(100% - 60px);
}

.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 25px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #ffff;
    font-size: 30px;
    font-weight: 300;

}

.temperatura {
    color: #ffff;
    font-size: 20px;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.tempo {
    color: #ffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #ffff;
    margin-top: 20px;
}

